<form class="addSong" action="/addsong" method="post">
  <h3 class='addSongTitle'>Add A song</h3>
  <label>Artist <input type="text" name="artist"></label>
  <label>Title of the song <input type='text' name= 'title'></label>
  <label>SoundCloud URL<input type="text" name="url"></label>

  <button type="submit">Submit</button>
</form>
<hr>
{{#posts}}
<section>
  <h3 class = 'score'>{{score}}</h3>
  <form action="{{_id}}/upvote" method="post">
    <button type="submit">
      <i class="fa fa-arrow-circle-up upvote vote"></i>
    </button>
  </form>
  <form action="{{_id}}/downvote" method="post">
    <button type="submit">
      <i class="fa fa-arrow-circle-down downvote vote"></i>
    </button>
  </form>

 <h3>
   {{title}}
 </h3>
 <h3>
   {{artist}}
   {{url}}
</h3>
<script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>
<script>
SC.initialize({
  client_id: '0a8387b241ab7dbc6e97cdf641a2d721'
});

var track_url = '{{url}}';
SC.oEmbed(track_url, { auto_play: true }, function(oEmbed) {
  console.log('oEmbed response: ' + oEmbed);
});
</script>
</section>
<label><button class='commentsButton'>Comments</button></label>
<div class="comments hide">
  <p>
    test
  </p>
{{comments}}
</div>
<hr>
{{/posts}}
